<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="rpc-provider"  />

    <!-- 使用 zookeeper 广播注册中心暴露服务地址 -->
    <dubbo:registry protocol="${dubbo.protocol}" address="${dubbo.address}" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.port}" />


    <!-- 声明暴露的服务接口 -->
    <dubbo:service interface="com.ego.service.HelloServiceI" ref="helloService"/>
    <dubbo:service interface="com.ego.service.GoodsCategoryListServiceI" ref="goodsCategoryListService"/>
    <dubbo:service interface="com.ego.service.SearchServiceI" ref="searchService"/>
    <dubbo:service interface="com.ego.service.CartServiceI" ref="cartService"/>
<!--    <dubbo:service interface="com.ego.service.SendMailServiceI" ref="sendMailService"/>-->
    <!-- 通过 spring装配 service -->
    <bean id="helloService" class="com.ego.service.impl.HelloServiceImpl"></bean>
    <bean id="goodsCategoryListService" class="com.ego.service.impl.GoodsCategoryServiceImpl"></bean>
    <bean id="searchService" class="com.ego.service.impl.SearchServiceImpl"></bean>
    <bean id="cartService" class="com.ego.service.impl.CartServiceImpl"></bean>
<!--    <bean id="sendMailService" class="com.ego.service.impl.SendMailServiceImpl"></bean>-->
</beans>