<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="rpc-provider"  />

    <!-- 使用 zookeeper 广播注册中心暴露服务地址 -->
    <dubbo:registry protocol="${dubbo.protocol}" address="${dubbo.address}" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="${dubbo.port}" />


    <!-- 声明暴露的服务接口 -->
    <dubbo:service interface="com.ego.service.SSOServiceI" ref="ssoService"/>
    <!-- 通过 spring装配 service -->
    <bean id="ssoService" class="com.ego.service.impl.SSOServiceImpl"></bean>

</beans>